workflow.json
{
  "name": "AI Customer Support Triage Automation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "customer-ticket-info",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1408,
        -176
      ],
      "id": "5b9745a5-bd01-488d-b5f1-05a55c99d6bb",
      "name": "Client Ticket",
      "webhookId": "9e6eb2c1-486d-4d20-9adc-2e06ee473be5"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer  "
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o-mini\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an enterprise AI support ticket classification assistant. You must strictly follow the rules provided and return consistent, conservative classifications suitable for automated routing.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Ticket details:\\n\\nTicket ID: {{ $json.body.ticket_id }}\\nCustomer Name: {{ $json.body.customer_name }}\\nCustomer Email: {{ $json.body.customer_email }}\\nSource: {{ $json.body.source }}\\nMessage: {{ $json.body.message }}\\n\\nCLASSIFICATION RULES:\\n\\nCATEGORY (choose ONE):\\n- Billing: payments, invoices, refunds, charges, pricing\\n- Technical: bugs, crashes, errors, integrations, performance issues\\n- Feature_Request: feature requests, enhancements, suggestions\\n- General: general questions, product information, unclear issues\\n\\nPRIORITY RULES (STRICT):\\n- High: ONLY if the message explicitly states system outage, system down, production failure, revenue loss, or security incident.\\n- Medium: functional issues affecting a single user or non-blocking functionality.\\n- Low: general questions or feature requests.\\n\\nIMPORTANT:\\n- Do NOT infer High priority unless the High conditions are explicitly mentioned.\\n- Do NOT return \\\"Critical\\\" as a priority.\\n- If an issue would normally be Critical, return priority as \\\"High\\\" instead.\\n\\nURGENCY:\\n- urgency = true ONLY if priority is High\\n\\nReturn STRICTLY valid JSON with EXACTLY these keys:\\n- category\\n- priority\\n- sentiment\\n- urgency\\n- reasoning\"\n    }\n  ],\n  \"temperature\": 0\n}\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1216,
        -176
      ],
      "id": "238cc9ca-7501-431f-bb4e-6f700760a986",
      "name": "Tickets Analysis",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "tableId": "Support_Tickets",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "ticket_id",
              "fieldValue": "={{ $('Client Ticket').item.json.body.ticket_id }}"
            },
            {
              "fieldId": "customer_name",
              "fieldValue": "={{ $('Client Ticket').item.json.body.customer_name }}"
            },
            {
              "fieldId": "customer_email",
              "fieldValue": "={{ $('Client Ticket').item.json.body.customer_email }}"
            },
            {
              "fieldId": "source",
              "fieldValue": "={{ $('Client Ticket').item.json.body.source }}"
            },
            {
              "fieldId": "message",
              "fieldValue": "={{ $('Client Ticket').item.json.body.message }}"
            },
            {
              "fieldId": "submitted_at",
              "fieldValue": "={{ $('Client Ticket').item.json.body.submitted_at }}"
            },
            {
              "fieldId": "category",
              "fieldValue": "={{ $json.category }}"
            },
            {
              "fieldId": "priority",
              "fieldValue": "={{ $json.priority }}"
            },
            {
              "fieldId": "sentiment",
              "fieldValue": "={{ $json.sentiment}}"
            },
            {
              "fieldId": "urgency",
              "fieldValue": "={{ $json.urgency}}"
            },
            {
              "fieldId": "reasoning",
              "fieldValue": "={{ $json.reasoning}}"
            },
            {
              "fieldId": "model_used",
              "fieldValue": "={{ $('Tickets Analysis').item.json.model }}"
            },
            {
              "fieldId": "workflow_execution_id",
              "fieldValue": "= {{ $workflow.name }}"
            },
            {
              "fieldId": "processed_at",
              "fieldValue": "={{ new Date().toISOString() }}\n"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -816,
        -176
      ],
      "id": "ae75a313-256c-431e-acd7-c221449f681b",
      "name": "Store Ticket & AI Classification",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "SsBj0Qw4IPAK6E0H",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const results = $input.all().map(item => {\n  try {\n    const rawContent = item.json.choices[0].message.content;\n    const cleanContent = rawContent.replace(/```json|```/g, \"\").trim();\n    const parsedData = JSON.parse(cleanContent);\n\n    // Create a copy of the original JSON\n    let cleanJson = { ...item.json, ...parsedData };\n\n    // DELETE the messy original fields so they don't clutter your workflow\n    delete cleanJson.choices; \n\n    return { json: cleanJson };\n  } catch (error) {\n    return {\n      json: {\n        ...item.json,\n        parsing_error: error.message\n      }\n    };\n  }\n});\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1024,
        -176
      ],
      "id": "ba36a9e5-f724-4e8b-9550-50a16c46f2a3",
      "name": "Parse & Normalize AI Classification",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.priority }}",
                    "rightValue": "High",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "9749e326-d081-4c83-a6fd-309318a429ca"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "High Priority"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "edda9a83-d292-4cc2-8980-2bd6404bc855",
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "Billing",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Billing"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "4a28e9da-de24-4752-a8f7-6588628c872c",
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "Technical",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Technical"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "8da0837e-8470-4949-a711-4f45d4f170fa",
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "Feature_Request",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Product Feature"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "226a7987-df4c-4d3e-809b-6b52aa812553",
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "General",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "General"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -608,
        -224
      ],
      "id": "d2a7309a-2bbe-4e5a-b711-9db34eee6d38",
      "name": "Switch"
    },
    {
      "parameters": {
        "sendTo": "olagbenrogabriel@gmail.com",
        "subject": "🚨 High Priority Support Ticket Alert – Immediate Attention Required",
        "message": "=<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body {\n      font-family: Arial, Helvetica, sans-serif;\n      background-color: #f4f6f8;\n      padding: 20px;\n      color: #333;\n    }\n    .container {\n      background-color: #ffffff;\n      border-radius: 6px;\n      padding: 20px;\n      max-width: 600px;\n      margin: auto;\n      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);\n    }\n    .header {\n      color: #b91c1c;\n      font-size: 20px;\n      font-weight: bold;\n      margin-bottom: 16px;\n    }\n    .label {\n      font-weight: bold;\n      margin-top: 12px;\n    }\n    .value {\n      margin-bottom: 10px;\n    }\n    .message-box {\n      background-color: #f9fafb;\n      border-left: 4px solid #ef4444;\n      padding: 12px;\n      margin-top: 10px;\n      white-space: pre-wrap;\n    }\n    .footer {\n      margin-top: 20px;\n      font-size: 12px;\n      color: #666;\n    }\n  </style>\n</head>\n\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      🚨 High Priority Support Ticket Detected\n    </div>\n\n    <div class=\"label\">Ticket ID:</div>\n    <div class=\"value\">{{ $('Client Ticket').item.json.body.ticket_id }}</div>\n\n    <div class=\"label\">Customer Name:</div>\n    <div class=\"value\">{{ $('Client Ticket').item.json.body.customer_name }}</div>\n\n    <div class=\"label\">Customer Email:</div>\n    <div class=\"value\">{{ $('Client Ticket').item.json.body.customer_email }}</div>\n\n    <div class=\"label\">Category:</div>\n    <div class=\"value\">{{ $('Store Ticket & AI Classification').item.json.category }}</div>\n\n    <div class=\"label\">Priority:</div>\n    <div class=\"value\">{{ $('Store Ticket & AI Classification').item.json.priority }}</div>\n\n    <div class=\"label\">Customer Message:</div>\n    <div class=\"message-box\">\n      {{ $('Store Ticket & AI Classification').item.json.message }}\n    </div>\n\n    <div class=\"footer\">\n      This alert was generated automatically by the AI Support Triage Workflow.<br />\n      Please review and take action as soon as possible.\n    </div>\n  </div>\n</body>\n</html>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -256,
        -544
      ],
      "id": "369fc3b9-8634-4050-a2ea-85f706d3e00c",
      "name": "High Priority Alert",
      "webhookId": "1a49a1ea-23f9-4c8c-9591-52c4d3aab26c",
      "credentials": {
        "gmailOAuth2": {
          "id": "cPu2x8pYRpwrK07z",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -96,
        -400
      ],
      "id": "ccf342b6-6027-4e18-8341-920c967754bc",
      "name": "Route to Billing / Finance Queue"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -16,
        -208
      ],
      "id": "f0980f25-37ee-4d9e-84a2-f244b121d0cd",
      "name": "Route to Engineering Support Queue"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -96,
        -32
      ],
      "id": "43d77aa5-066f-466b-af9c-1546706d7462",
      "name": "Route to Product Backlog"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -224,
        144
      ],
      "id": "53ec5b3c-55bd-4541-a7ce-31114b46cdf2",
      "name": "Route to General Support Queue"
    }
  ],
  "pinData": {},
  "connections": {
    "Client Ticket": {
      "main": [
        [
          {
            "node": "Tickets Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tickets Analysis": {
      "main": [
        [
          {
            "node": "Parse & Normalize AI Classification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Normalize AI Classification": {
      "main": [
        [
          {
            "node": "Store Ticket & AI Classification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Ticket & AI Classification": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "High Priority Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Route to Billing / Finance Queue",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Route to Engineering Support Queue",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Route to Product Backlog",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Route to General Support Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "020cc6b0-4278-466e-87b8-35f856ae5180",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f914190cad50301c71425aabbcd406a965b0f46e8d2b056eea4d20ab3b3b2ced"
  },
  "id": "JVhbt3L5P_GN3GSTJHNFc",
  "tags": []
}